.film-thumb-3 {
  cursor: pointer;
  height: 150px;
  object-fit: cover;
  transition: all 0.2s ease;
  width: 100px;
}

.film-thumb-3:hover {
  transform: scale(1.04);
}

.film-thumb-3.film-thumb-1 {
  margin-left: 0.44px;
}

.film-thumb-3.film-thumb-2 {
  margin-left: 0.06px;
}

